* {
    margin: 0px;
}

header {
    background-color: aliceblue;
    width: vl;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar {
    width: vl;
    height: 200px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 16px;
}